<br><br>
<div class="container-1">
  <h2>Welcome to the Study page! Select a category and study by clicking on the cards!</h2>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Select category</mat-label>
      <mat-select (selectionChange)="changeCategory($event.value)">

        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.categoryName}}
        </mat-option>


      </mat-select>
    </mat-form-field>
    Your selected category is: {{selectedCategory}}
  </mat-card>

  <br><br>

  <div class="center">

    <div class="inner-card" *ngFor="let flashcard of filteredAndSlicedList | async, let i = index">
      <!-- Display only one item at once (by checking current card 'number' and the index) -->
      <div *ngIf="selectedCard === i">
        <app-flashcard-card (click)="onCardClick(i)" class="item" [flashcard]="flashcard"> </app-flashcard-card>
      </div>
      <!-- If there is no more items: -->
      <div *ngIf="isLastItem">
      </div>

    </div>
    <br>

  </div>
