<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-buton [routerLink]="['/home']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Profile page</span>
  </mat-toolbar-row>
</mat-toolbar>
  <!-- Displays the user's email -->
  <mat-card class="margin-motton">
    <mat-card-header>
      <mat-card-title>User information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>email</mat-icon>
          <div mat-line>Email</div>
          <br>
          <div mat-line>{{ (afAuth.user | async)?.email }}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>contacts icon</mat-icon>
          <div mat-line>Username</div>
          <br>
          <div mat-line>Name</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
