.margin-bottom {
    margin-bottom: 18px;
}

.mat-radio-button~.mat-radio-button {
    margin-left:18px;
}

.mat-radio-group{
    display: flex;
}

.mat-radio-button{
    flex: 1;
}
.margin-motton {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  td {
    padding: 8px;
  }
  
  .max-width {
    width: 100%;
  }
  