h2 {
    text-align: center;
  }
  
  mat-card {
    width: 50%;
    margin: 0 auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .item {
    display: inline-block;
    margin: 10px;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    
  }