.alert{
    text-align: center;
    margin: 16px;
    color: rgb(186, 53, 36);
    background-color: rgb(246, 219, 215) ;
    border: 1px solid rgb(246, 176, 182);
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    box-shadow: none;
}


.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .log-card {
    width: 300px;
    padding: 20px;
  }
  

  
  .max-width {
    width: 100%;
  }
  
  .formGroup {
    text-align: center;
  }
  
  .googleBtn {
    background-color: #4286f400;
    color: rgba(255, 255, 255, 0);
    border: none !important;
  }
  
  .centerimg{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }