 .alert{
    text-align: center;
    margin: 16px;
    color: rgb(186, 53, 36);
    background-color: rgb(246, 219, 215) ;
    border: 1px solid rgb(246, 176, 182);
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    box-shadow: none;
}


.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .log-card {
    width: 300px;
    padding: 20px;
  }
  

  
  .max-width {
    width: 100%;
  }
  
  .formGroup {
    text-align: center;
  }
  
  .googleBtn {
    background-color: #4286f400;
    color: rgba(255, 255, 255, 0);
    border: none !important;
  }
  
  .centerimg{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  } 

  .primary-icon{
    height: 40px;
 }

 p{
  margin-left: 60px;
  margin-top: -33px;
  text-align: justify;
  font-size: 18px;

 }

 .regbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
 }
  
 
h4{
  text-align: center;
  color: rgb(235, 231, 231);
  
}

.content {
  margin-top: 60px;
  width: 300px;
  margin-left: -12%;
}

.or {
  text-align: center;
  font-size: 15px;
  background:
    linear-gradient(rgb(255, 255, 255) 0 0) left,
    linear-gradient(rgb(255, 255, 255) 0 0) right;
  background-size: 40% 1px;
  background-repeat: no-repeat;
}

  
.min-width {
  width: 40%;
}