.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .reg-card {
    width: 300px;
    padding: 20px;
  }
  
  .max-width {
    width: 100%;
  }
  
  .formGroup {
    text-align: center;
  }