.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .reg-card {
    width: 300px;
    padding: 20px;
  }
  
  .max-width {
    width: 100%;
  }
  
  .formGroup {
    text-align: center;
  }

  h3{
    text-align: center;
    color: rgb(235, 231, 231);
    
  }
  
  .regbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
   }