.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .reg-card {
    width: 300px;
    padding: 20px;
  }
  
  .max-width {
    width: 100%;
  }
  
  .formGroup {
    text-align: center;
  }

  h3{
    text-align: center;
    color: rgb(235, 231, 231);
    
  }
  
  .loginbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
   }

   .min-width {
    width: 40%;
  }

  .primary-icon{
    height: 40px;
 }

 p{
  margin-left: 60px;
  margin-top: -33px;
  text-align: justify;
  font-size: 18px;

 }