<mat-toolbar color="primary" class="primary">
  <mat-toolbar-row>
    <div>
      <a>
        <img class="primary-icon" src="https://cdn-icons-png.flaticon.com/512/6587/6587388.png">
      </a>
    </div>
    <a mat-button (click)="navUrl('/home/study')">
      Flashcard Application
    </a>
    <!-- Two pages (study inquiry) -->
    <button mat-button (click)="navUrl('/home/study')" routerLinkActive="active">
      <mat-icon>school icon</mat-icon>
      Study&nbsp;
    </button>

    <button mat-button (click)="navUrl('/home/inquiry')" routerLinkActive="active">
      <mat-icon>book icon</mat-icon>
      Inquiry&nbsp;
    </button>

    <!-- <button mat-button (click)="navUrl('/home/favoritecards')" routerLinkActive="active">
      Cards to study&nbsp;
      <mat-icon>star icon</mat-icon>
    </button> -->

    <!-- only for admin email (!BAD solution, because user could see the page by typing the URL link!) -->
    <div *ngIf="(auth.user | async)?.email === 'admin1@vocabapp.com' ">
      <button mat-button (click)="navUrl('/home/flashcardlist')" routerLinkActive="active">
        <mat-icon>edit icon</mat-icon>
        Flashcard CRUD&nbsp;
      </button>
    </div>

    <!-- Profile menu+dropdown -->
    <div class="right">
      <button mat-button [mat-menu-trigger-for]="menu">
        <span>{{ (auth.user | async)?.email }} </span>&nbsp;
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>arrow_back</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <!-- Hamburger menu + dropdown -->
    <div class="gridbutton" [mat-menu-trigger-for]="hamburger">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>


    <mat-menu class="gridbutton" #hamburger="matMenu">
      <button class="gridbutton" mat-menu-item (click)="navUrl('/home/study')" routerLinkActive="active">
        <mat-icon>school icon</mat-icon>
        Study&nbsp;
      </button>

      <button class="gridbutton" mat-menu-item (click)="navUrl('/home/inquiry')" routerLinkActive="active">
        <mat-icon>book icon</mat-icon>
        Inquiery&nbsp;
      </button>

      <!-- <button class="gridbutton" mat-menu-item (click)="navUrl('/home/favoritecards')" routerLinkActive="active">
          Cards to study&nbsp;
          <mat-icon>star icon</mat-icon>
        </button> -->

      <div *ngIf="(auth.user | async)?.email === 'admin1@vocabapp.com' ">
        <button class="gridbutton" mat-menu-item (click)="navUrl('/home/flashcardlist')" routerLinkActive="active">
          <mat-icon>edit icon</mat-icon>
          Flashcard CRUD&nbsp;
        </button>
      </div>

    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
