[mat-button]:not(:last-child)
{
    margin-right: 16px;
}

a[mat-button]
{
    font-size: xx-large;
    display: inline-block;
}

.active {
    border-bottom: white 3 px solid;
    border-radius: 0;
}

button:hover
{
    color: rgb(222, 239, 67);
}


mat-toolbar {
    background-color: rgb(222, 239, 67);
    display: flex;
    justify-content: space-around;
    /* 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100; */

}

.mat-menu-content{
    background-color: rgba(249, 237, 72, 0.849);
 }

 .primary-icon{
    height: 40px;
    margin-top: 25%;
 }

 .menu-line{
    width: 27px;
    height: 3.5px;
    background-color: white;
    margin-bottom: 4px;
 }

/*  .menu{
    display: none;
 }

 @media all and (max-width: 480px){
    mat-toolbar{
        flex-direction: column;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
     }
 } */

/* [mat-button]
{
    text-transform: capitalize;
}
 */


/* 
 */

/* .center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
        
}

 */


 .gridbutton {
    display: none;
  }
  
  .navOpen .gridbutton {
    display: block;
  }

 @media (max-width: 1200px) {
    .menu {
      display: block;
    }
    .menu-line {
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 5px 0;
    }
    button {
      display: none;
    }
    .menu2{
        display: flex;
        width: 400px;
        height: 500px;
    }

    .gridbutton{
        display: block;
        padding-left: 10px;
    }

    
  }


  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }



