[mat-button]:not(:last-child)
{
    margin-right: 16px;
}

a[mat-button]
{
    font-size: xx-large;
}

.active {
    border-bottom: white 3 px solid;
    border-radius: 0;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;

}

[mat-button]
{
    text-transform: capitalize;
}

.mat-menu-content{
    background-color: rgb(0, 132, 255);
 }