
<mat-toolbar color= "primary" class="primary">
    <mat-toolbar-row>
  
      <a mat-button (click)="navUrl('/home/study')">
        Flashcard Application
      </a>

      <button mat-button (click)="navUrl('/home/study')"  routerLinkActive="active">
        Study page&nbsp;
        <mat-icon>school icon</mat-icon>
      </button>

      <button mat-button (click)="navUrl('/home/inquiry')" routerLinkActive="active">
        Inquiery page&nbsp;
        <mat-icon>book icon</mat-icon>
      </button>

      <div *ngIf="(auth.user | async)?.email === 'admin1@vocabapp.com' "> 
        <button mat-button (click)="navUrl('/home/flashcardlist')" routerLinkActive="active">
          Flashcard CRUD page&nbsp;
          <mat-icon>dashboard icon</mat-icon>
        </button>
        </div>
      
    <div class="right"> 
      <button mat-button [mat-menu-trigger-for]="menu">
        <span>{{ (auth.user | async)?.email }} </span>&nbsp;
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>arrow_back</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>


<!--   <footer class="site-footer">
    <mat-toolbar color= "primary" class="center">  
      <p class="center">
        © 2020 Copyright:
      </p>
  </mat-toolbar>
  </footer>

 -->