<form [formGroup] = "form">
    <h3>Flashcards</h3>

    <mat-form-field class="max-width">
        <mat-label>Hungarian phrase</mat-label>
        <input matInput placeholder="Hungarian phrase" focus formControlName="hunPhrase" required>
    </mat-form-field>

   <mat-form-field class="max-width">
        <mat-label>English phrase</mat-label>
        <textarea placeholder= "English phrase" formControlName="engPhrase" matInput cdkTextareaAutosize required
        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6" ></textarea>
    </mat-form-field>

    <!-- <mat-form-field class="max-width">
        <mat-label>Category</mat-label>
        <textarea placeholder= "Category" formControlName="category" matInput cdkTextareaAutosize required
        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6" ></textarea>
    </mat-form-field>  -->

    <mat-form-field class="max-width" appearance="fill">
        <mat-label>Select category</mat-label>       
        <mat-select (selectionChange)="changeCategory($event.value)">
          <mat-option formControlName="category" matInput *ngFor="let category of categories" (click)="onSelectedProduct(category.value)" [value]="category.value">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
      </mat-form-field> 

    <div style="display: flex;justify-content:flex-end;">
    <button mat-button (click)="dialogRef.close()" class="margin-right">CANCEL</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid" class="margin-right">ADD</button>

    </div>

</form>